	<!-- build:js /assets/js/script.js -->
		<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="/assets/js/index.js"></script>
		<script type="text/javascript" src="/assets/js/menu.js"></script>

		<script type="text/javascript" src="/assets/js/google-analytics.js"></script>
		<script type="text/javascript" src="/assets/js/disqus.js"></script>
		<!-- endbuild -->
	</body>
</html>