	<link href='https://fonts.googleapis.com/css?family=Jim+Nightshade&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!-- build:js /assets/js/script.js -->
		<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script type="text/javascript" src="/assets/js/index.js"></script>
		<script type="text/javascript" src="/assets/js/menu.js"></script>

		<script type="text/javascript" src="/assets/js/google-analytics.js"></script>
		<script type="text/javascript" src="/assets/js/disqus.js"></script>
		<!-- endbuild -->
	</body>
</html>