<!DOCTYPE html>
<html>
	<head>
		<title>
			{{#if title}}
				Hearthstone.gg - {{title}}
			{{else}}
				Hearthstone.gg
			{{/if}}
		</title>

		<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,maximum-scale=1,user-scalable=yes,width=device-width" />

		<link href='https://fonts.googleapis.com/css?family=Jim+Nightshade&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<!-- build:css /assets/css/styles.css -->
		<link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/sidebar.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/index.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/article.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/page.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/categories.css">
		<!-- endbuild -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	</head>
	<body>