<form class="form form-horizontal" role="search" action="/search" method="GET">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search" data-search name="q">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit" data-search-trigger>
				<span class="glyphicon glyphicon-search"></span>
			</button>
		</span>
	</div>
</form>