<span class="btn btn-default menu-trigger" data-menu-trigger>
	<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
</span>

<ul class="menu" data-menu>
	<li><a href="/"><i class="fa fa-home fa-fw"></i> articles</a></li>
	<!--<li><a href="/archives.html">Archive</a></li>-->
	<li><a href="/categories"><i class="fa fa-sitemap fa-fw"></i> categories</a></li>
	<li><a href="/about"><i class="fa fa-info-circle fa-fw"></i> about</a></li>
	<li class="search-form">
		{{>search}}
	</li>
</ul>
<div class="sidebar-content">
	<h1>Hearthstone.gg</h1>
	<hr />
	<strong>The Endgame</strong>
</div>