<section class="sidebar col-md-4 col-sm-12" data-sidebar>
	<span class="btn btn-default menu-trigger" data-menu-trigger>
		<span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
	</span>

	<ul class="menu" data-menu>
		<li><a href="/">articles</a>
		<!--<li><a href="/archives.html">Archive</a>-->
		<li><a href="/about">about</a>
	</ul>
	<div class="sidebar-content">
		<h1>Hearthstone.gg</h1>
		<hr />
		<strong>The Endgame</strong>
	</div>
</section>