.article .main-content h1+hr {
	margin-bottom: 2em;
}
.article .main-content  h1 {
	text-shadow: none;
	font-weight: bold;
	font-size: 2.5em;
}

.article iframe {
	max-width: 100%;
	display: block;
	margin: 2em auto;
}

.article .meta {
	border-left: .25em solid rgba(0,0,0,.5);
    padding-left: 1em;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 4em;
}