.index h2+hr {
	margin-bottom: 2em;
}
.index h2 {
	font-weight: bold;
	font-size: 2.5em;
}
.index .main-content ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.index .main-content ul li {
	margin: 0 0 2em 0;
}
.index .main-content ul li a {
	color: #3d3d3d;
	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: .5em;
	display: block;
	transition: color .125s ease-in-out;
}
.index .main-content ul li a:hover {
	color: rgba(85,155,155,1);
}

.index .main-content ul li .meta {
	color: #b6b6b6;
}
.index .main-content ul li:last-child hr {
	display: none;
}