.sidebar {
	background: url('/assets/images/sidebar-bg.png') no-repeat;
	background-position: bottom;
	background-size: cover;
	min-height: 300px;
}

.sidebar button {
	display: none;
}

.sidebar .menu {
	list-style-type: none;
	padding: 0;
	padding: 2em 1em;
}
.sidebar .menu li {
	float: left;
	margin: 0 1em 0 0;
}

.sidebar .menu li a {
	letter-spacing: .125em;
	color: #fff;
	text-decoration: underline;
}
.sidebar .menu li a:hover {
	color: rgba(85,155,155,1);
}

.sidebar-content {
	color: #fff;
	position: absolute;
	bottom: 2em;
	left: 2em;
	margin-right: 2em;
}
.sidebar-content h1 {
	margin: 0;
}
.sidebar-content strong {
	font-weight: normal;
}
.sidebar-content hr {
	margin: .5em 0;
}

@media (min-width: 992px) {
	.sidebar {
	    height: 100%;
	    position: fixed;
	    background-size: cover;
	}
	.sidebar .menu li {
		float: none;
		margin: 0 0 1em 0;
	}
}