.sidebar {
	background-image: url('/assets/images/sidebar-mobile.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-color: rgba(48,42,41,1);
	min-height: 300px;
	box-shadow: 3px 3px 10px #888888;
	z-index: 2;
}

/*
	Menu styles
*/
.sidebar .menu-trigger {
	display: none;
	position: absolute;
	left: 2em;
	top: 2em;
	background: #3d3d3d;
    color: black;
    border: none;
    box-shadow: -2px -2px 0px black;
}
.sidebar .menu-trigger:hover,
.sidebar .menu-trigger:active {
	color: rgba(85,155,155,1);
    border: none;
    box-shadow: -2px -2px 0px rgba(85,155,155,1);
}
.sidebar .menu-trigger:active {
	background: black;	
}

.sidebar .menu {
	list-style-type: none;
	padding: 0;
	padding: 2em 1em;
}
.sidebar .menu li {
	float: left;
	margin: 0 1em 0 0;
}

.sidebar .menu li a {
	letter-spacing: .125em;
	color: #fff;
	text-decoration: underline;
}
.sidebar .menu li a:hover {
	color: rgba(85,155,155,1);
}


.sidebar.js-active, .main-content.js-active {
	left: 0;
	transition: left 200ms ease-in-out;
}
.sidebar.js-active .menu-trigger {
	display: block;
}
.sidebar.js-active .menu {
	left: -300px;
	width: 300px;
	height: 100%;
	position: fixed;
	background: rgba(48,42,41,1);
	transition: left 200ms ease-in-out, box-shadow 200ms ease-in-out;
}
.sidebar.js-active.menu-open {
	left: 300px;
}
.sidebar.js-active.menu-open .menu {
	left: 0;
}
.sidebar.js-active .menu li {
	float: none;
	margin: 0 0 1em 1em;
}

/*
	Branding content
*/
.sidebar-content {
	color: #fff;
	position: absolute;
	bottom: 2em;
	left: 2em;
	margin-right: 2em;
}
.sidebar-content h1 {
	font-family: 'Jim Nightshade', cursive;
	margin: 0;
}
.sidebar-content strong {
	text-shadow: 2px 2px #3d3d3d;
}
.sidebar-content hr {
	margin: .5em 0;
	border-top-color: #fff;
	box-shadow: 1px 1px 2px #fff;
}

@media (min-width: 992px) {
	.sidebar {
	    height: 100%;
	    position: fixed;
	    background-size: cover;
	    box-shadow: 3px 0 10px #888888;
	    background-image: url('/assets/images/sidebar-bg.jpg');
	    background-repeat: no-repeat;
	}
	.sidebar .menu li {
		float: none;
		margin: 0 0 1em 0;
	}
	.sidebar.js-active.menu-open .menu {
		box-shadow: 3px 0 10px #3d3d3d;
	}
}