body {
	overflow-x: hidden;
}
* {
	font-size: 16px;
	letter-spacing: .04em;
	line-height: 1.5em;
}
h1 {
	text-shadow: 2px 2px #3d3d3d;
}
h1 {
	font-family: 'Jim Nightshade', cursive;
}
a {
	color: rgba(85,155,155,1);
}
hr {
	border-top-color: #3d3d3d;
	box-shadow: 1px 1px 2px #3d3d3d;
}
hr.stub {
	display: block;
    width: 20%;
    margin: 2em auto 2em;
    border: 1px solid #dededc;
    box-shadow: none;
}
.main-content hr:not(.stub) {
	border-top-width: .25em;
	border-top-color: rgba(0,0,0,.5);
	box-shadow: none;
}

.container {
	margin: 0;
}


.main-content {
	padding: .3em 2em;
	color: #3d3d3d;
}

@media (min-width: 992px) {
	.main-content {
		max-width: 60%;
	}
}

/*
	Article Lists
*/
.main-content .article-list {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.main-content .article-list li {
	margin: 0 0 2em 0;
}

.main-content .article-list li > a,
.main-content .article-list li > i {
	color: #3d3d3d;
	font-size: 1.5em;
	line-height: 1.25em;
	margin-bottom: .5em;
	display: block;
	transition: color .125s ease-in-out;
}
.main-content .article-list li > i {
	float: right;
	margin: 1em;
}

.main-content .article-list li a:hover {
	color: rgba(85,155,155,1);
}

.main-content .article-list li p {
	border-left: .25em solid rgba(0,0,0,.5);
	padding-left: 1em;
	margin-left: 1em;
}
.main-content .article-list li .meta {
	color: #b6b6b6;
	margin-left: 2.25em;
}

.main-content .meta a {
	color: #b6b6b6;
	font-weight: 500;
}
.main-content .meta a:hover {
	color: rgba(85,155,155,1);
	font-weight: 500;
	text-decoration: none;
}

.main-content .article-list li:last-child hr {
	display: none;
}

.social-buttons {
	margin-bottom: 2em;
	text-align: center;
	color: #3d3d3d;
}
.social-buttons span:not(.share) {
	display: none;
}
.social-buttons .share {
	margin: 0 .5em;
}
@media (min-width: 992px) {
	.social-buttons {
		max-width: 60%;
		text-align: right;
		padding-right: 1.5em;
	}
	.social-buttons span:not(.share) {
		display: inline-block;
		font-weight: bold;
	}
}

[data-show-comments] {
	width: 100%;
	background: rgba(0,0,0,.5);
	color: white;
	font-weight: bold;
	border: none;
	padding: 1em;
	font-size: 1.5em;
	margin-bottom: 2em;
}
[data-show-comments]:hover {
	color: #3d3d3d;
}

noscript {
	margin-bottom: 2em;
	display: block;
	text-align: center;
}

i.fa-code {
	font-weight: bold;
}