{{> header }}
<div class="container-fluid article">
	<div class="row">
		{{> sidebar }}
		<section class="col-md-8 col-sm-12 col-md-offset-4 main-content">
			<h1>{{ title }}</h1>
			<hr />
			{{{ body }}}
		</section>
	</div>
</div>
{{> footer }}