<!DOCTYPE html>
<html>
	<head>
		<title>
			{{#if title}}
				Hearthstone.gg - {{title}}
			{{else}}
				Hearthstone.gg
			{{/if}}
		</title>
		<!-- build:css /assets/css/styles.css -->
		<link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		<!-- endbuild -->
	</head>
	<body>
		<h1>Hearthstone.gg</h1>

		<button type="button" class="btn btn-default" aria-label="Left Align">
		<span class="glyphicon glyphicon-align-left" aria-hidden="true"></span>
		</button>

		<button type="button" class="btn btn-default btn-lg">
		<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Star
		</button>

		{{{ body }}}

		<!-- build:js /assets/js/script.js -->
			<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.js"></script>
			<script type="text/javascript" src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
			<script type="text/javascript" src="/assets/js/index.js"></script>
			<script type="text/javascript" src="/assets/js/other-file.js"></script>
		<!-- endbuild -->
	</body>
</html>