<!DOCTYPE html>
<html>
	<head>
		<title>
			{{#if title}}
				Hearthstone.gg - {{title}}
			{{else}}
				Hearthstone.gg
			{{/if}}
		</title>
		<!-- build:css /assets/css/styles.css -->
		<link rel="stylesheet" type="text/css" href="/assets/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		<!-- endbuild -->
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
					<section class="sidebar col-md-4 col-sm-12">
						<div class="sidebar-content">
							<h1>Hearthstone.gg</h1>
							<hr />
							<strong>Your Endgame for Hearthstone Content</strong>
						</div>
					</section>
					<section class="col-md-8 col-sm-12 col-md-offset-4 main-content">
						{{{ body }}}
					</section>
			</div>
		</div>

		<!-- build:js /assets/js/script.js -->
			<script type="text/javascript" src="/assets/bower_components/jquery/dist/jquery.js"></script>
			<script type="text/javascript" src="/assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
			<script type="text/javascript" src="/assets/js/index.js"></script>
			<script type="text/javascript" src="/assets/js/other-file.js"></script>
		<!-- endbuild -->
	</body>
</html>