<!DOCTYPE html>
<html>
	<head>
		<title>
			{{#if title}}
				Hearthstone.gg - {{title}}
			{{else}}
				Hearthstone.gg
			{{/if}}
		</title>
		<!-- build:css /assets/css/styles.css -->
		<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
		<!-- endbuild -->
	</head>
	<body>
		<h1>Hearthstone.gg</h1>
		{{{ body }}}

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<!-- build:js /assets/js/script.js -->
			<script type="text/javascript" src="/assets/js/index.js"></script>
			<script type="text/javascript" src="/assets/js/other-file.js"></script>
		<!-- endbuild -->
	</body>
</html>