{{> header }}
<div class="container-fluid page">
	<div class="row">
		{{> sidebar }}
		<section class="col-md-8 col-sm-12 col-md-offset-4 main-content">
			{{{ body }}}
		</section>
	</div>
</div>
{{> footer }}